<div>
  <h4>Chat:</h4>
  <form action="" onsubmit="addMessage(this)" >
    <input type="email" name="user" id="user" placeholder="Correo" class="form-group d-flex align-items-center flex-column"/>
    <input type="text" name="message" id="message" placeholder="Escriba su mensaje" class="form-group d-flex align-items-center flex-column"/>
    <input type="button" value="Enviar" name="send" id="btn-send" />
  </form>
  <br />
  <div id="messages"></div>
</div>