<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="container">
    <h1>Mi proyecto BackEnd</h1>
    
    <div>
        <h4 class="form-title">Lista de productos:</h4>    
    </div>

    <footer>
      {{> footer}}
    </footer>
  </body>
</html>
