<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="container">
    <h1>Mi proyecto BackEnd</h1>
    
    <div>
      <h4 class="form-title">Lista de productos:</h4>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Título</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody>
          {{#each productList}}
            <tr>
              <th scope="row"> {{this.id}} </th>
              <td>{{this.title}}</td>
              <td>{{this.price}}</td>
              <td>{{this.image}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <div>
      <button class="btn"><a href="/">Volver a pagina inicial</a></button>
    </div>
    <footer>
      {{> footer}}
    </footer>
  </body>
</html>
